<html lang='en'>
<head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>

    <title> JMAP</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>

    <link href="{{ url_for('static', filename='dist/metricsgraphics.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/metricsgraphics-demo.css')}}" rel="stylesheet" id='light'>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.min.js' charset='utf-8'></script>

    <script type='text/javascript' src="{{ url_for('static', filename='dist/metricsgraphics.js')}}"></script>

</head>

<body>
    <div class='container'>
        <div class='head'>
        </div>

        <div id='trunk'>
            Main page for streaming tweets

        </div>
    </div>
    <script type='text/javascript' src="{{ url_for('static', filename='js/summary_stat.js')}}"></script>
</body>
</html>
